<acme-topbar (logout$)="onLogout()"></acme-topbar>

<main class="cash-flow">
  <section class="cash-flow__analysis">
    <acme-card title="Entrada" [amount]="inboundTotal" color="success"></acme-card>
    <acme-card title="Saída" [amount]="outboundTotal" color="failure"></acme-card>
    <acme-card title="Total" [amount]="total"></acme-card>
  </section>

  <section class="cash-flow__data">
    <mat-card>
      <mat-card-title>
        <span class="mat-title">Gerenciamento</span>
        <div class="cash-flow__data-actions">
          <button (click)="openModal(dialogTemplate)" mat-flat-button color="primary">
            Adicionar
          </button>
          <!-- <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>refresh</mat-icon>
          </button> -->
        </div>
      </mat-card-title>

      <mat-card-content>
        <ng-container *ngIf="transactions">
          <acme-table
            [rows]="transactions"
            [columns]="columns"
            (delete$)="onDelete($event)"
            (edit$)="onEdit($event)"
          ></acme-table>
        </ng-container>
        <!-- TODO: <acme-paginator></acme-paginator> -->
      </mat-card-content>
    </mat-card>
  </section>
</main>

<!-- Modal -->
<ng-template #dialogTemplate>
  <h1 mat-dialog-title>
    {{ isEditMode ? 'Atualizar transação' : 'Adicionar transação' }}
  </h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Descrição</mat-label>
        <input
          matInput
          placeholder="Descrição da transação"
          maxlength="40"
          formControlName="description"
        />

        <mat-hint align="end">{{ form.get('description')?.value.length || 0 }}/40</mat-hint>

        <mat-error *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
          A descrição é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="transactionTypes.INBOUND">Entrada</mat-option>
          <mat-option [value]="transactionTypes.OUTBOUND">Saída</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('type')?.invalid && form.get('type')?.touched">
          O tipo é obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Valor</mat-label>
        <input matInput type="number" placeholder="Valor da transação" formControlName="amount" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let option of categoriesOptions" [value]="option.slug">
            {{ option.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category')?.invalid && form.get('category')?.touched">
          A categoria é obrigatória
        </mat-error>
      </mat-form-field>
    </div>

    <div class="actions">
      <button type="button" mat-flat-button (click)="onCancel()">Cancelar</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
        {{ isEditMode ? 'Atualizar transação' : 'Adicionar transação' }}
      </button>
    </div>
  </form>
</ng-template>
