@import '../../../../assets/theme/index';

// Container principal que engloba o host
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: $color-foreground;
}

// Cartão centralizado
.mat-card {
  width: 100%;
  height: 100vh;
  padding: 140px 30px 40px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);

  // Responsividade para telas pequenas
  @include respond-to(sm) {
    max-width: 460px;
    height: auto;
    padding: 40px 30px;
    position: relative;
    top: -40px;
  }

  // Subtítulo do cartão
  .mat-card-subtitle {
    margin: 20px 0 30px;
    color: $color-foreground;
    font-weight: $font-weight-medium;
  }
}

// Estilos globais para inputs e selects
input,
select,
mat-select {
  font-weight: $font-weight-medium;
}

// Ações do cartão
mat-card-actions {
  padding-top: 30px;

  // Estilização dos botões dentro de mat-card-actions
  button {
    padding: 4px 28px;
  }
}

// Classe de largura total reutilizável
.w-full {
  width: 100%;
}

// Estilização para o usuário selecionado
.selected-user {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 25px;
  height: 100%;

  // Avatar do usuário
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  // Informações do usuário
  .info {
    .title {
      font-weight: $font-weight-semibold;
    }
  }
}
